.ant-modal-content {
  padding: 2px !important;
}

.ant-modal-body {
  padding: 2.5px !important;
}

.ant-modal-title{
  color: aliceblue !important;
}
.ant-modal-header {
  background-color: rgb(0, 21, 42)  !important ;
  padding: 15px !important;
}

/* fechar no x */
.ant-modal-close-x {
  color: aliceblue ;
}

.ant-modal-close-x:hover {
  background: rgb(50, 67, 83) ;

}

/* botão cancelar do modal */
button.ant-btn-default{
  background-color: rgb(0, 21, 42)  !important ;
  color: aliceblue !important;
  background-color: null;
  border-color: null;

}
button.ant-btn-default:hover{
  background: rgb(50, 67, 83) !important;
}

/* botão salvar do modal */
button.ant-btn-primary{
  box-shadow: 0 1px 0 rgb(3 14 21 / 64%)  !important;
}
button.ant-btn-primary:hover{
  background: rgb(50, 67, 83) !important;
}

/* rodapé do modal */
.ant-modal-footer {
  background: transparent !important ;
  height: 67px !important;
  padding-right: 30px !important;

}

.button-modal svg {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.icone .anticon svg {
  display: inline-block;
  margin: 0px -6px !important;

}


.ant-btn-block {
  background:  rgb(0, 21, 42)  !important;
  color: aliceblue !important;
}

/* botoẽs de crição de unidade, obejto */
.button-units{
  padding: 4px 6px!important;
  }
.button-objects{
  padding: 4px 6px!important
}
.button-objectReourses{
  padding: 4px 11px!important
}


/* CSS datas do recursos */

.input-mask-date:hover {
  border: 1px solid rgb(0, 21, 42)!important;
  border-color: #092136 !important;
  border-inline-end-width: 1px !important;
  z-index: 1 !important;

}
.input-mask-date:focus {
  border-color: #092136 !important;
  box-shadow: 0 0 0 2px rgb(3 14 21 / 64%)!important;
  border-inline-end-width: 1px !important;
  outline: 0 !important;
}

.input-mask-date{
  padding: 7px 18px !important;
  font-size: 14px !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  color: rgba(8, 8, 8, 0.88) !important;
  background-color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d9d9d9 !important;
  border-radius: 3px !important;
  transition: all 0.2s !important;
  width: 100% !important;

}



element.style {
  margin: 5px !important ;
  background-color: rgb(255, 255, 255) !important;
  overflow-y: auto !important;
  border-radius: 10px 10px 0px 0px !important;
  padding: 10px !important;
}



